Old/** linguist-vendored=true
build/docs/javadoc/** linguist-documentation=false
build/docs/javadoc/** linguist-vendored=false
build/docs/javadoc/** linguist-detectable=true

MurderDriveStation/** linguist-vendored=false
MurderDriveStation/** linguist-detectable=true

*.js linguist-language=RDoc
*.html linguist-language=RDoc
*.json linguist-detectable=false
*.css linguist-language=RDoc