Old/** linguist-vendored=true
build/docs/javadoc/** linguist-documentation=true
build/docs/javadoc/** linguist-vendored=false
build/docs/javadoc/** linguist-detectable=false

MurderDriveStation/** linguist-vendored=false
MurderDriveStation/** linguist-detectable=true

*.css linguist-documentation=true
*.js linguist-documentation=true
*.html linguist-documentation=true
*.json linguist-detectable=false
