Old/** linguist-vendored=true
build/docs/javadoc/** linguist-documentation=true
build/docs/javadoc/** linguist-vendored=false
build/docs/javadoc/** linguist-detectable=false

MurderDriveStation/** linguist-vendored=false
MurderDriveStation/** linguist-detectable=true

*.json linguist-detectable=false